torch~=2.7.1
numpy
pandas
morningstar_data
yfinance
langchain
langchain-openai~=0.3.27
langchain-community~=0.4.1
langchain-text-splitters~=1.1.0
langchain-chroma
langgraph~=1.0.5
pypdf
mlflow-skinny~=3.7.0
python-dotenv~=1.2.1
chromadb